<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="companyinfo">
                        <h2><span>B</span>-Shop</h2>
                        <p>Hê thống bán sách online tốt nhất Việt Nam</p>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="col-sm-offset-2 col-sm-3">
                        <div class="video-gallery text-center">
                            <a href="#">
                                <div class="iframe-img">
                                    <img src="/images/home/iframe1.png" alt=""/>
                                </div>
                                <div class="overlay-icon">
                                    <i class="fa fa-play-circle-o"></i>
                                </div>
                            </a>
                            <p>Nguyễn Văn Bình</p>
                            <h2>1412049</h2>
                        </div>
                    </div>

                    <div class="col-sm-offset-2 col-sm-3">
                        <div class="video-gallery text-center">
                            <a href="#">
                                <div class="iframe-img">
                                    <img src="images/home/iframe2.png" alt=""/>
                                </div>
                                <div class="overlay-icon">
                                    <i class="fa fa-play-circle-o"></i>
                                </div>
                            </a>
                            <p>Lê Hưu Bách</p>
                            <h2>1412033</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="address">
                        <img src="/images/home/map.png" alt=""/>
                        <p>Chấp nhận giao dịch toàn cầu, có mặt trên 150 quốc gia và vùng lãnh thổ.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2017 E-SHOPPER Inc. All rights reserved.</p>
                <p class="pull-right">Designed by <span><a target="_blank" href="#">Nguyễn Văn Bình</a></span></p>
            </div>
        </div>
    </div>

</footer><!--/Footer-->