<header id="header">
    <div class="header_top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i> +84 96 29 39 004</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> us.1412049@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="/"><img src="/images/home/logo.png" alt=""/></a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="/cart"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a></li>
                            <% if (user != null) { %>
                            <li><a href="/user"><i class="fa fa-user"></i> <%= user.username %></a></li>
                            <li><a href="/checkout"><i class="fa fa-crosshairs"></i> Thanh toán</a></li>
                            <li><a href="/logout"><i class="fa fa-lock"></i> Đăng xuất</a></li>
                            <% } else { %>
                            <li><a href="/login"><i class="fa fa-lock"></i> Đăng nhập</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="/">Trang chủ</a></li>
                            <li class="dropdown"><a href="#">Danh mục<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="/category?t=0" class="<%= ct == '0' ? 'active' : '' %>">Chính Trị</a></li>
                                    <li><a href="/category?t=1" class="<%= ct == '1' ? 'active' : '' %>">Đoàn - Đội - Hội</a></li>
                                    <li><a href="/category?t=2" class="<%= ct == '2' ? 'active' : '' %>">Kiến Thức - Khoa Học</a></li>
                                    <li><a href="/category?t=3" class="<%= ct == '3' ? 'active' : '' %>">Kinh Tế</a></li>
                                    <li><a href="/category?t=4" class="<%= ct == '4' ? 'active' : '' %>">Kỹ Năng</a></li>
                                    <li><a href="/category?t=5" class="<%= ct == '5' ? 'active' : '' %>">Lịch Sử</a></li>
                                    <li><a href="/category?t=6" class="<%= ct == '6' ? 'active' : '' %>">Mầm Non</a></li>
                                    <li><a href="/category?t=7" class="<%= ct == '7' ? 'active' : '' %>">Nghệ Thuật - Giải Trí</a></li>
                                    <li><a href="/category?t=8" class="<%= ct == '8' ? 'active' : '' %>">Nghệ Thuật Sống</a></li>
                                    <li><a href="/category?t=9" class="<%= ct == '9' ? 'active' : '' %>">Ngôn Ngữ</a></li>
                                    <li><a href="/category?t=10" class="<%= ct == '10' ? 'active' : '' %>">Sinh Ngữ</a></li>
                                    <li><a href="/category?t=11" class="<%= ct == '11' ? 'active' : '' %>">Tâm Lý - Giáo Dục</a></li>
                                    <li><a href="/category?t=12" class="<%= ct == '12' ? 'active' : '' %>">Tham Khảo Trong Nhà Trường</a></li>
                                    <li><a href="/category?t=13" class="<%= ct == '13' ? 'active' : '' %>">Truyện Tranh</a></li>
                                    <li><a href="/category?t=14" class="<%= ct == '14' ? 'active' : '' %>">Văn Hóa - Khảo Cứu</a></li>
                                    <li><a href="/category?t=15" class="<%= ct == '15' ? 'active' : '' %>">Văn Học</a></li>
                                    <li><a href="/category?t=16" class="<%= ct == '16' ? 'active' : '' %>">Y Học - Sức Khỏe</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Tài khoản<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="/cart">Giỏ hàng</a></li>
                                    <% if (user != null) { %>
                                    <li><a href="/user"> <%= user.username %></a></li>
                                    <li><a href="/checkout"> Thanh toán</a></li>
                                    <li><a href="/logout"> Đăng xuất</a></li>
                                    <% } else { %>
                                    <li><a href="/login"> Đăng nhập</a></li>
                                    <% } %>
                                </ul>
                            </li>
                            <li><a href="/contact">Liên hệ</a> </li>
                            <li><a href="/search">Tìm nâng cao</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <form action="/searchs" method="post" class="searchform pull-right">
                        <input name="name" type="text" placeholder="Tìm kiếm">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>