<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include partials/head.ejs %>
</head>
<body>
<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="/dashboard/img/sidebar.jpg">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                    Dashboard
                </a>
            </div>
            <ul class="nav">
                <li>
                    <a href="/dashboard">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/user">
                        <i class="pe-7s-user"></i>
                        <p>User Manager</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/dashboard/book">
                        <i class="pe-7s-note2"></i>
                        <p>Book Manager</p>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/bill">
                        <i class="pe-7s-news-paper"></i>
                        <p>Bill Manager</p>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/comment">
                        <i class="pe-7s-science"></i>
                        <p>Comment Manager</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <%- include partials/navbar.ejs %>
        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">User</h4>
                            </div>
                            <div class="content">
                                <form action="/dashboard/book/save" method="post" id="frmProduct" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>ID</label>
                                                <input name="id" type="text" class="form-control" readonly placeholder="id" value="<%= book._id %>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Name:</label>
                                                <input name="name" type="text" class="form-control" placeholder="name" value="<%= book.name %>" required="required">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Category:</label>
                                                <select class="form-control" name="category">
                                                    <option>Chính Trị</option>
                                                    <option>Đoàn - Đội - Hội</option>
                                                    <option>Kiến Thức - Khoa Học</option>
                                                    <option>Kinh Tế</option>
                                                    <option>Kỹ Năng</option>
                                                    <option>Lịch Sử</option>
                                                    <option>Mầm Non</option>
                                                    <option>Nghệ Thuật - Giải Trí</option>
                                                    <option>Nghệ Thuật Sống</option>
                                                    <option>Ngôn Ngữ</option>
                                                    <option>Sinh Ngữ</option>
                                                    <option>Tâm Lý - Giáo Dục</option>
                                                    <option>Tham Khảo Trong Nhà Trường</option>
                                                    <option>Truyện Tranh</option>
                                                    <option>Văn Hóa - Khảo Cứu</option>
                                                    <option>Văn Học</option>
                                                    <option>Y Học - Sức Khỏe</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Original cost:</label>
                                                <input name="originalcost" type="number" min="0" step="1" class="form-control" placeholder="cost" value="<%= book.originalcost %>" required="required">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Cost:</label>
                                                <input name="cost" type="number" min="0" step="1" class="form-control" placeholder="cost" value="<%= book.cost %>" required="required">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Year:</label>
                                                <input name="year" type="number" min="1990" max="2020" step="1" class="form-control" placeholder="year" value="<%= book.year %>" required="required">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Author:</label>
                                                <input name="author" type="text" class="form-control" placeholder="author" value="<%= book.author %>" required="required">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Instock:</label>
                                                <input name="instock" type="number" min="1" step="1" class="form-control" placeholder="stock" value="<%= book.instock %>" required="required">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Description:</label>
                                                <textarea name="description" rows="5" class="form-control" placeholder="description" required="required"><%= book.description %></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Avatar:</label>
                                                <input name="avatar" type="file" accept="image/*" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

                                    <button type="submit" class="btn btn-info btn-fill pull-right">Save</button>
                                    <button type="reset" class="btn btn-info btn-fill pull-left">Reset</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% if (book.avatar) { %>
                    <div class="col-md-4">
                        <img src="/uploads/imgs/<%= book.avatar %>">
                    </div>
                    <% } %>

                </div>
            </div>
        </div>
        <%- include partials/footer.ejs %>
    </div>
</div>
</body>
<%- include partials/script.ejs %>
</html>
