<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include partials/head.ejs %>
</head>
<body>
<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="/dashboard/img/sidebar.jpg">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                    Dashboard
                </a>
            </div>
            <ul class="nav">
                <li>
                    <a href="/dashboard">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/user">
                        <i class="pe-7s-user"></i>
                        <p>User Manager</p>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/book">
                        <i class="pe-7s-note2"></i>
                        <p>Book Manager</p>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/bill">
                        <i class="pe-7s-news-paper"></i>
                        <p>Bill Manager</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/dashboard/comment">
                        <i class="pe-7s-science"></i>
                        <p>Comment Manager</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <%- include partials/navbar.ejs %>
        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Comment manager</h4>
                                <p class="category">List of Comment</p>
                                <a id="btnDelSec" href="#" class="btn btn-info btn-fill pull-right">Delete selected book</a>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table id="tbList">
                                    <thead>
                                    <th class="text-center"><input type="checkbox" name="select_all" value="1" id="example-select-all"></th>
                                    <th>ID</th>
                                    <th>Book id</th>
                                    <th>Name</th>
                                    <th>Content</th>
                                    <th>Option</th>
                                    </thead>
                                    <tbody>
                                    <% comments.forEach(function(comments) { %>
                                    <tr>
                                        <td class="dt-body-center"><input type="checkbox" name="cid"
                                                                          value="<%= comments._id %>"/></td>
                                        <td>
                                            <%= comments._id %>
                                        </td>
                                        <td>
                                            <%= comments.bookid %>
                                        </td>
                                        <td>
                                            <%= comments.name %>
                                        </td>
                                        <td>
                                            <%= comments.content %>
                                        </td>
                                        <td>
                                            <a href="#" id="<%= comments._id %>" name="btndel">Delete</a>
                                        </td>
                                    </tr>
                                    <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <%- include partials/footer.ejs %>
    </div>
</div>
</body>
<%- include partials/script.ejs %>
<script type="text/javascript">
    $(document).ready(function () {

        $("a[name='btndel']").click(function () {
            var pid = this.id;
            if (confirm("Delete comment with id : " + pid + "?")) {
                $.ajax({
                    type: "GET",
                    url: "/dashboard/comment/del?id=" + pid,
                    async: false,
                    data: 0
                });
                location.reload();
            }
        });

        var table = $("#tbList").DataTable({
            "order": [[1, "asc"]],
            "columnDefs": [{
                "targets": 0,
                "orderable": false,
            }]
        });

        // Handle click on "Select all" control
        $('#example-select-all').on('click', function () {
            // Get all rows with search applied
            var rows = table.rows({'search': 'applied'}).nodes();
            // Check/uncheck checkboxes for all rows in the table
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });

        $('#tbList tbody').on('change', 'input[type="checkbox"]', function () {
            if (!this.checked) {
                var el = $('#example-select-all').get(0);
                if (el && el.checked) {
                    el.indeterminate = true;
                }
            }
        });

        $("#btnDelSec").click(function () {
            if (confirm("Delete selected comments")) {
                table.$('input[type="checkbox"]').each(function () {
                    if (this.checked) {
                        $.ajax({
                            type: "GET",
                            url: "/dashboard/comment/del?id=" + this.value,
                            async: false,
                            data: 0
                        });
                    }
                });
                location.reload();
            }
        });
    });
</script>
</html>