<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include partials/head.ejs %>
</head>
<body>
<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="/dashboard/img/sidebar.jpg">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                    Dashboard
                </a>
            </div>
            <ul class="nav">
                <li class="active">
                    <a href="/dashboard">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/user">
                        <i class="pe-7s-user"></i>
                        <p>User Manager</p>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/book">
                        <i class="pe-7s-note2"></i>
                        <p>Book Manager</p>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/bill">
                        <i class="pe-7s-news-paper"></i>
                        <p>Bill Manager</p>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/comment">
                        <i class="pe-7s-science"></i>
                        <p>Comment Manager</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <%- include partials/navbar.ejs %>
        <div class="content">
            <div class="container-fluid">


                <div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Top 10</h4>
                                <p class="category">List of the best sell book</p>
                            </div>
                            <div class="content">
                                <div class="table-full-width">
                                    <table class="table">
                                        <tbody>
                                        <% books.forEach(function(book){ %>
                                        <tr>
                                            <td>
                                                <%= book._id %>
                                            </td>
                                            <td><a href="/dashboard/book/edit?id=<%= book._id %>"><%= book.name %></a></td>
                                            <td><%= book.category %></td>
                                            <td><%= book.totalcost %></td>
                                        </tr>
                                        <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Doanh số bán hàng</h4>
                                <p class="category">Hiển thị theo từng chuyên mục</p>
                            </div>
                            <div class="content">
                                <div id="chartActivity" class="ct-chart"></div>

                                <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-info"></i> Doanh thu
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <%- include partials/footer.ejs %>
    </div>
</div>
</body>
<%- include partials/script.ejs %>
<script type="text/javascript">
    $(document).ready(function(){

        var la = [];
        <% for(var i = 0; i < lb.length; i++)  { %>
        la[<%= i %>] = "<%= lb[i] %>";
        <% }%>

        var data = {
            labels: la,
            series: [[<%= se %>]]
        };

        var options = {
            seriesBarDistance: <%= se.length %>,
            axisX: {
                showGrid: true,
            },
            axisY: {
                offset: 100
            },
            height: "250px"
        };

        var responsiveOptions = [
            ['screen and (max-width: 640px)', {
                seriesBarDistance: 5,
                axisX: {
                    labelInterpolationFnc: function (value) {
                        return value[0];
                    }
                }
            }]
        ];

        Chartist.Bar('#chartActivity', data, options, responsiveOptions);

    });
</script>
</html>
