<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include partials/head.ejs %>
</head>
<body>
<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="/dashboard/img/sidebar.jpg">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                    Dashboard
                </a>
            </div>
            <ul class="nav">
                <li>
                    <a href="/dashboard">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/dashboard/user">
                        <i class="pe-7s-user"></i>
                        <p>User Manager</p>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/book">
                        <i class="pe-7s-note2"></i>
                        <p>Book Manager</p>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/bill">
                        <i class="pe-7s-news-paper"></i>
                        <p>Bill Manager</p>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/comment">
                        <i class="pe-7s-science"></i>
                        <p>Comment Manager</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <%- include partials/navbar.ejs %>
        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">User</h4>
                            </div>
                            <div class="content">
                                <form action="/dashboard/user/save" method="post" id="frmProduct" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>ID</label>
                                                <input name="id" type="text" class="form-control" readonly placeholder="id" value="<%= user._id %>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Email:</label>
                                                <input name="username" type="email" class="form-control" placeholder="email" value="<%= user.username %>" required="required">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Status:</label>
                                                <% if (user.isactived) { %>
                                                <input name="isactived" type="checkbox" class="form-control" checked>
                                                <% } else { %>
                                                <input name="isactived" type="checkbox" class="form-control">
                                                <% }; %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Fullname:</label>
                                                <input name="fullname" type="text" class="form-control" placeholder="fullname" value="<%= user.fullname %>" minlength="5" required="required">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Address:</label>
                                                <input name="address" type="text" class="form-control" placeholder="address" value="<%= user.address %>" minlength="5" required="required">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Zip code:</label>
                                                <input name="zipcode" type="text" class="form-control" placeholder="zipcode" value="<%= user.fullname %>" minlength="5" required="required">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Region:</label>
                                                <input name="region" type="text" class="form-control" placeholder="region" value="<%= user.region %>" minlength="5" required="required">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Country:</label>
                                                <input name="country" type="text" class="form-control" placeholder="country" value="<%= user.country %>" minlength="5" required="required">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Phone:</label>
                                                <input name="phone" type="text" class="form-control" placeholder="phone" value="<%= user.phone %>" minlength="5" required="required">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Avatar:</label>
                                                <input name="avatar" type="file" accept="image/*" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Role:</label>
                                                <select class="form-control" name="role">
                                                    <option>ROLE_USER</option>
                                                    <option>ROLE_ADMIN</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

                                    <button type="submit" class="btn btn-info btn-fill pull-right">Save</button>
                                    <button type="reset" class="btn btn-info btn-fill pull-left">Reset</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% if (user.avatar) { %>
                    <div class="col-md-4">
                        <img src="/uploads/avatar/<%= user.avatar%>">
                    </div>
                    <% } %>

                </div>
            </div>
        </div>
        <%- include partials/footer.ejs %>
    </div>
</div>
</body>
<%- include partials/script.ejs %>
</html>