<!DOCTYPE html>
<html>
<head>

    <%- include partials/head.ejs %>

</head>
<body>

<%- include partials/header.ejs %>

<section>
    <div class="container">
        <div class="row">
            <% if (laactive) {%>
            <div class="col-sm-offset-3 col-sm-6">
                <div class="row">
                    <p>Click vào link được gửi tới email đã đăng ký để kích hoạt tài khoản.</p>
                </div>
                <div class="row">
                    <a id="btnResend" href="/active" class="btn btn-info btn-fill">Gửi lại email kích hoạt.</a>
                </div>
            </div>
            <% } else { %>
            <div class="col-sm-offset-3 col-sm-6">
                <form action="/lostpass" method="post">
                    <label>Email:</label>
                    <input name="email" type="email" class="form-control">
                    <br>
                    <button type="submit" value="" class="btn btn-primary form-control">Gửi email reset mật khẩu</button>
                </form>
            </div>
            <% } %>

        </div>
    </div>
    <div class="clearfix"><br></div>
</section>

<%- include partials/footer.ejs %>

</body>

<%- include partials/scripts.ejs %>

</html>
