<!DOCTYPE html>
<html>
<head>

    <%- include partials/head.ejs %>

</head>
<body>

<%- include partials/header.ejs %>

<div id="advertisement">
    <div class="container">
        <img src="/images/shop/advertisement.jpg" alt=""/>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <%- include partials/sidebar.ejs %>
            </div>
            <div class="col-sm-9 padding-right">
                <div class="product-details"><!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img src="/uploads/imgs/<%= book.avatar %>" alt=""/>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="product-information">
                            <h2><%= book.name %></h2>
                            <p><b>Tác giả: </b><%= book.author %></p>
                            <p><b>Thể loại: </b><%= book.category %></p>
                            <p><b>Năm xuất bản: </b><%= book.year %></p>
                            <p><b>Số lượt xem: </b><%= book.nview %></p>
                            <p><b>Tình trạng: </b><%= book.instock > 0 ? 'Còn hàng' : 'Hết hàng' %></p>
                            <span>
                                <p>Giá: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><%= book.cost %> VND</span></p>
                                <p>Giá cũ: <span style="text-decoration: line-through"><%= book.originalcost %> VND</span></p>
                                <a href="#" name="addbook" id="<%= book._id %>" type="button" class="btn btn-fefault cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    Thêm vào giỏ hàng
                                </a>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="category-tab shop-details-tab"><!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#details" data-toggle="tab">Chi tiết</a></li>
                            <li><a href="#reviews" data-toggle="tab">Nhận xét</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">

                        <div class="tab-pane fade active in" id="details" style="padding-left: 25px;padding-right: 25px;">
                            <p><b>Nội dung tóm tắt</b></p>
                            <p><%= book.description %></p>
                        </div>

                        <div class="tab-pane fade" id="reviews">
                            <div class="col-sm-12">
                                <div id="cmt" style="margin-bottom: 20px" last="<%= comments.length > 0 ? comments[0].date : '0' %>">
                                    <% comments.forEach(function(comment){ %>
                                    <div style="border: 0.1em solid black;padding: 10px">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-user"></i><%= comment.name %></a></li>
                                        </ul>
                                        <p><%= comment.content %></p>
                                    </div>
                                    <% }); %>
                                </div>

                                <p><b>Viết nhận xét của bạn:</b></p>

                                <form id="frmComment">
                                    <span>
                                        <input name="name" type="text" placeholder="Họ tên" value="<%= (user != null) ? user.fullname : '' %>" required/>
                                        <input name="email" type="email" placeholder="Email" value="<%= (user != null) ? user.username : '' %>" required/>
                                    </span>
                                    <textarea name="scmt" required></textarea>
                                        <button type="submit" class="btn btn-default pull-right">
                                        Gửi
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div><!--/category-tab-->

                <div class="recommended_items"><!--recommended_items-->
                    <h2 class="title text-center">Sách tham khảo</h2>
                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <% var i; for(i = 0; i < 3 && i < books.length; i++) { var bi = books[i]; %>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <div style="height: 250px">
                                                    <a href="/book?id=<%= bi._id %>">
                                                        <img src="/uploads/imgs/<%= bi.avatar %>" alt=""/>
                                                    </a>
                                                </div>
                                                <h2><%= bi.cost %> VND</h2>
                                                <p><%= bi.name %></p>
                                                <a href="#" name="addbook" id="<%= bi._id %>" type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                            <div class="item">
                                <% for(; i < 6 && i < books.length; i++) { var bi = books[i]; %>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <div style="height: 250px">
                                                    <a href="/book?id=<%= bi._id %>">
                                                        <img src="/uploads/imgs/<%= bi.avatar %>" alt=""/>
                                                    </a>
                                                </div>
                                                <h2><%= bi.cost %> VND</h2>
                                                <p><%= bi.name %></p>
                                                <a href="#" name="addbook" id="<%= bi._id %>" type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/recommended_items-->

            </div>
        </div>
    </div>
</section>

<%- include partials/footer.ejs %>

</body>

<%- include partials/scripts.ejs %>
<script src="/js/jquery.easyPaginate.js"></script>
<script>
    $(document).ready(function () {

        cmtpaginate();

        $("#frmComment").submit(function (event) {
            event.preventDefault();
            var $form = $(this),
                sdata = {};
            sdata.name = $form.find('input[name="name"]').val();
            sdata.email = $form.find('input[name="email"]').val();
            sdata.scmt = $form.find('textarea').val();
            $.ajax({
                type: "POST",
                url: "/book?id=" + "<%= book._id %>",
                async: false,
                data: sdata
            });
            alert("Đã gửi nhận xét");
            $("#frmComment").get(0).reset()
        });
        var lid = setInterval(loadMorecmt, 5000);
        $("a[name='addbook']").click(function (event) {
            event.preventDefault();
            var pid = this.id;
            $.ajax({
                type: "POST",
                url: "/addbook",
                async: true,
                data: {
                    id: pid
                },
                success: function (data) {
                    if (data == "OK")
                        alert("Thêm thành công");
                }
            });
        });
    });

    function loadMorecmt() {
        $.ajax({
            type: "POST",
            url: "/bookcmt?id=" + "<%= book._id %>",
            async: false,
            data: {
                date: $("#cmt").attr('last')
            },
            success: function (data) {
                console.log(data);
                if (data != "ERROR") {
                    $("#cmt").attr('last', data.date);
                    $("#cmt").empty();
                    $("#cmt").append(oldDiv);
                    if (oldDiv.length > 0) {
                        $("#cmt div:first-child").before("<div style='border: 0.1em solid black;padding: 10px'><ul><li><a href='#'><i class='fa fa-user'></i>"
                            + data.name + "</a></li></ul><p>" + data.content + "</p></div>");
                    } else {
                        $("#cmt").append("<div style='border: 0.1em solid black;padding: 10px'><ul><li><a href='#'><i class='fa fa-user'></i>"
                            + data.name + "</a></li></ul><p>" + data.content + "</p></div>");
                    }

                    $(".easyPaginateNav").empty();
                    cmtpaginate();
                }

            }
        });
    }

    function cmtpaginate() {
        $('#cmt').easyPaginate({
            paginateElement: 'div',
            elementsPerPage: 5,
            effect: 'climb'
        });
    }

</script>

</html>
