<!DOCTYPE html>
<html>
<head>

    <%- include partials/head.ejs %>

</head>
<body>

<%- include partials/header.ejs %>

<% if (ghrong) { %>
<section>
    <div class="container">
        <div class="row">
            <h3>
                Giỏ hàng rỗng
            </h3>
            <br/>
        </div>
    </div>
</section>
<% } else { %>
<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="/">Trang chủ</a></li>
                <li class="active">Giỏ hàng</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                <tr class="cart_menu">
                    <td class="description">Tên sách</td>
                    <td class="price">Giá</td>
                    <td class="quantity">Số lượng</td>
                    <td class="total">Tổng</td>
                    <td class="image"></td>
                </tr>
                </thead>
                <tbody id="cartlist">
                <% lstb.forEach(function(book) { %>
                <tr>
                    <td class="cart_description">
                        <h4><a href="/book?id=<%= book.id %>"><%= book.name %></a></h4>
                        <p>ID: <%= book.id %></p>
                    </td>
                    <td class="cart_price">
                        <p><%= book.cost %> VND</p>
                    </td>
                    <td class="cart_quantity">
                        <div class="cart_quantity_button">
                            <input id="qb<%= book.id %>" class="cart_quantity_input" type="number" min="1" max="10" step="1" name="quantity" value="<%= book.quantity %>" autocomplete="off">
                            <a name="btnCheck" id="<%= book.id %>" class="cart_quantity_down" href="#"><i class="fa fa-check"></i></a>
                        </div>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price"><%= book.totalcost %></p>
                    </td>
                    <td class="cart_delete">
                        <a name="btnDel" id="<%= book.id %>" class="cart_quantity_delete" href="#"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</section>

<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>Khuyến mại hấp dẫn</h3>
            <p>Hiện tại, hệ thống đang có chương trình miễn phí ship 100% cho toàn bộ khác hàng, hay nhanh tay đẽ nhận được dịch vụ tốt nhất của chúng tôi.</p><br>
            <% if (!user) { %>
            <p> Hiện tại bạn chưa đăng nhập, hãy đăng nhập để hoàn tất quá trình thanh toán.</p>
            <% } %>
        </div>
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <div class="total_area">
                    <ul>
                        <li>Tổng cộng: <span id="carttc"><%= cart.total %> VND</span></li>
                        <li>Phí vận chuyển: <span>Miễn phí</span></li>
                        <li>Thành tiền: <span id="carttt"><%= cart.total %> VND</span></li>
                    </ul>
                    <a class="btn btn-default update" href="/">Tiếp tục mua hàng</a>
                    <% if (!user) { %>
                    <a class="btn btn-default check_out pull-right" href="/login">Đăng nhập</a>
                    <% } else { %>
                    <a class="btn btn-default check_out pull-right" href="/checkout">Thanh toán</a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>
<% } %>

<%- include partials/footer.ejs %>

</body>

<%- include partials/scripts.ejs %>
<script>
    $(document).ready(function () {
        initbtn();
    });

    function initbtn() {
        $("a[name='btnCheck']").click(function (event) {
            event.preventDefault();
            var pid = this.id;
            $.ajax({
                type: "POST",
                url: "/cartcq",
                async: false,
                data: {
                    id: pid,
                    quantity: $("#qb" + pid).val()
                },
                success: function (data) {
                    console.log(data);
                    loadCart(data);
                }
            });
        });
        $("a[name='btnDel']").click(function (event) {
            event.preventDefault();
            var pid = this.id;
            $.ajax({
                type: "POST",
                url: "/cartdel",
                async: false,
                data: {
                    id: pid
                },
                success: function (data) {
                    console.log(data);
                    loadCart(data);
                }
            });
        });
    }

    function loadCart(data) {
        if (data == "NULL") {
            location.reload();
        } else if (data != "ERROR") {
            $("#carttc").text(data[1] + " VND");
            $("#carttt").text(data[1] + " VND");
            $("#cartlist").empty();
            $("#cartlist").append('<tr><td class="cart_description"><h4><a href="/book?id=' + data[0][0].id + '">' + data[0][0].name + '</a></h4>'
                + '<p>ID: ' + data[0][0].id + '</p></td><td class="cart_price">'
                + '<p>' + data[0][0].cost + ' VND</p></td><td class="cart_quantity"><div class="cart_quantity_button">'
                + '<input id="qb' + data[0][0].id + '" class="cart_quantity_input" type="number" min="1" max="10" step="1" name="quantity" value="' + data[0][0].quantity
                + '" autocomplete="off"><a name="btnCheck" id="' + data[0][0].id + '" class="cart_quantity_down" href="#"><i class="fa fa-check"></i></a></div></td>'
                + '<td class="cart_total"><p class="cart_total_price">' + data[0][0].totalcost + '</p></td><td class="cart_delete"><a name="btnDel" id="' + data[0][0].id
                + '" class="cart_quantity_delete" href="#"><i class="fa fa-times"></i></a></td></tr>"');
            for (var i = 1; i < data[0].length; i++) {
                $("#cartlist tr:first-child").after('<tr><td class="cart_description"><h4><a href="/book?id=' + data[0][i].id + '">' + data[0][i].name + '</a></h4>'
                    + '<p>ID: ' + data[0][i].id + '</p></td><td class="cart_price">'
                    + '<p>' + data[0][i].cost + ' VND</p></td><td class="cart_quantity"><div class="cart_quantity_button">'
                    + '<input id="qb' + data[0][i].id + '" class="cart_quantity_input" type="number" min="1" max="10" step="1" name="quantity" value="' + data[0][i].quantity
                    + '" autocomplete="off"><a name="btnCheck" id="' + data[0][i].id + '" class="cart_quantity_down" href="#"><i class="fa fa-check"></i></a></div></td>'
                    + '<td class="cart_total"><p class="cart_total_price">' + data[0][i].totalcost + '</p></td><td class="cart_delete"><a name="btnDel" id="' + data[0][i].id
                    + '" class="cart_quantity_delete" href="#"><i class="fa fa-times"></i></a></td></tr>"');
            }
            initbtn();
        }
    }
</script>

</html>
