<!DOCTYPE html>
<html>
<head>

    <%- include partials/head.ejs %>

</head>
<body>

<%- include partials/header.ejs %>

<% if (ghrong) { %>
<section>
    <div class="container">
        <div class="row">
            <h3>
                Giỏ hàng rỗng.
            </h3>
        </div>
    </div>
</section>
<% } else { %>
<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="/">Trang chủ</a></li>
                <li class="active">Thanh toán</li>
            </ol>
        </div>
        <div class="shopper-informations">
            <div class="row" style="padding-bottom: 50px">
                <div class="col-sm-3">
                    <div class="shopper-info">
                        <p>Thông tin tài khoản</p>
                        <form>
                            <input type="text" value="<%= user.username %>" readonly>
                            <input type="text" value="<%= user.fullname %>" readonly>
                            <input type="text" value="<%= user.phone %>" readonly>
                        </form>
                    </div>

                    <a href="/cart" class="btn btn-primary" style="width: 100%"><h4>Trở lại giỏ hàng</h4></a>

                </div>
                <div class="col-sm-3">
                    <div class="bill-to">
                        <p>Nhập thông tin người nhận</p>
                        <div class="form-one">
                            <form action="/checkout" method="post">
                                <input name="email" type="text" placeholder="Địa chỉ email" value="<%= user.username %>" required>
                                <input name="fullname" type="text" placeholder="Họ và tên" value="<%= user.fullname %>" required>
                                <input name="address" type="text" placeholder="Địa chỉ" value="<%= user.address %>" required>
                                <input name="phone" type="text" placeholder="Số điện thoại" value="<%= user.phone %>" required>
                                <input name="region" type="text" placeholder="Vùng/ Thành phố" value="<%= user.region %>" required>
                                <input name="country" type="text" placeholder="Đất nước" value="<%= user.country %>" required>
                                <input name="zipcode" type="number" placeholder="Zipcode" value="<%= user.zipcode %>" required>
                                <input name="userid" type="text" value="<%= user._id %>" hidden>
                                <input name="booklist" type="text" value="<%= cart.booklist %>" hidden>
                                <input name="total" type="number" value="<%= cart.total %>" hidden>
                                <input name="cartid" type="text" value="<%= cart._id %>" hidden>

                                <br>
                                <input type="submit" class="btn btn-primary" style="width: 100%; font-size: x-large" value="Đặt hàng">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="order-message">
                        <p>Kiểm tra giỏ hàng</p>
                        <div class="table-responsive cart_info">
                            <table class="table table-condensed">
                                <thead>
                                <tr class="cart_menu">
                                    <td>Tên sách</td>
                                    <td>Giá</td>
                                    <td nowrap>Số lượng</td>
                                    <td>Tổng</td>
                                </tr>
                                </thead>
                                <tbody>
                                <% lstb.forEach(function(book){ %>
                                <tr>
                                    <td>
                                        <h5><a href="/book?id=<%= book.id %>"><%= book.name %></a></h5>
                                        <h6><%= book.id %></h6>
                                    </td>
                                    <td class="ext-center">
                                        <%= book.cost %>
                                    </td>
                                    <td class="text-center">
                                        <%= book.quantity %>
                                    </td>
                                    <td class="text-center">
                                        <%= book.totalcost %>
                                    </td>
                                </tr>
                                <% }); %>
                                <tr>
                                    <table class="table table-condensed total-result">
                                        <tr>
                                            <td>Tổng cộng</td>
                                            <td><span><%= cart.total %> VND</span></td>
                                        </tr>
                                        <tr class="shipping-cost">
                                            <td>Shipping Cost</td>
                                            <td><span>Miễn phí</span></td>
                                        </tr>
                                        <tr>
                                            <td>Thành tiền</td>
                                            <td><span><%= cart.total %> VND</span></td>
                                        </tr>
                                    </table>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>

<% } %>

<%- include partials/footer.ejs %>

</body>

<%- include partials/scripts.ejs %>

</html>