<!DOCTYPE html>
<html>
<head>

    <%- include partials/head.ejs %>

</head>
<body>

<%- include partials/header.ejs %>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <div class="row">
                    <h3>Website thương mại điện tử cung cấp các sản phẩm sách.
                        Với mục tiêu tạo ra những trải nghiệm mua sắm trực tuyến tuyệt vời,
                        Trang web luôn nỗ lực không ngừng nhằm nâng cao chất lượng dịch vụ.</h3>
                <br />
                    <h3>Liên hệ admin: </h3><br/><h3>01643926726 - Lê Hữu Bách</h3>
                    <h3>0962939004 - Nguyễn Văn Bình</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"><br></div>
</section>

<%- include partials/footer.ejs %>

</body>

<%- include partials/scripts.ejs %>

</html>
