<!DOCTYPE html>
<html>
<head>

    <%- include partials/head.ejs %>

</head>
<body>

<%- include partials/header.ejs %>

<div id="advertisement">
    <div class="container">
        <img src="/images/shop/advertisement.jpg" alt=""/>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <%- include partials/sidebar.ejs %>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">Top sách bán chạy nhất</h2>

                    <% books1.forEach(function(book) { %>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <div style="height: 300px">
                                        <img src="/uploads/imgs/<%= book.avatar %>" alt="" />
                                    </div>
                                    <h2><%= book.cost %> VND</h2>
                                    <p><%= book.name %></p>
                                    <p><%= book.author %></p>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2><%= book.cost %> VND</h2>
                                        <p><%= book.name %></p>
                                        <br>
                                        <p><%= book.author %></p>
                                        <br>
                                        <a href="#" name="addbook" id="<%= book._id %>" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                    </div>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href="/book?id=<%= book._id %>"><i class="fa fa-plus-square"></i>Thông tin chi tiết</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <% }); %>

                </div><!--features_items-->

                <div class="recommended_items"><!--recommended_items-->
                    <h2 class="title text-center">Sách mới nhất</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <% for (var i = 0; i < 3; i++) {
                                    var book = books2[i]; %>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <div style="height: 200px;">
                                                    <a href="/book?id=<%= book._id %>">
                                                        <img src="/uploads/imgs/<%= book.avatar %>" alt="" />
                                                    </a>
                                                </div>
                                                <h2><%= book.cost %> VND</h2>
                                                <p><%= book.name %></p>
                                                <a href="#" name="addbook" id="<%= book._id %>" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                            <div class="item">
                                <% for (var i = 3; i < 6; i++) {
                                    var book = books2[i]; %>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <div style="height: 200px;">
                                                    <a href="/book?id=<%= book._id %>">
                                                        <img src="/uploads/imgs/<%= book.avatar %>" alt="" />
                                                    </a>
                                                </div>
                                                <h2><%= book.cost %> VND</h2>
                                                <p><%= book.name %></p>
                                                <a href="#" name="addbook" id="<%= book._id %>" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/recommended_items-->

            </div>
        </div>
    </div>
</section>

<%- include partials/footer.ejs %>

</body>

<%- include partials/scripts.ejs%>

<script>
    $(document).ready(function() {
        $("a[name='addbook']").click(function (event) {
            event.preventDefault();
            var pid = this.id;
            $.ajax({
                type: "POST",
                url: "/addbook",
                async: true,
                data : {
                    id: pid
                },
                success: function (data) {
                    if (data == "OK")
                        alert("Thêm thành công");
                }
            });
        });
    });
</script>

</html>
