<!DOCTYPE html>
<html>
<head>

    <%- include partials/head.ejs %>

</head>
<body>

<%- include partials/header.ejs %>

<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form"><!--login form-->
                    <h2>Đăng nhập</h2>
                    <form action="/login" method="post">
                        <input name="username" type="email" placeholder="Email"/>
                        <input name="password" type="password" placeholder="Mật khẩu"/>
                        <button type="submit" class="btn btn-default">Đăng nhập</button>
                    </form>
                    <br>
                    <a href="/lostpass">Bạn quên mật khẩu? Hạy click vào đây!</a>
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">Hoặc</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form"><!--sign up form-->
                    <h2>Đăng ký tài khoản mới</h2>
                    <form action="/register" method="post" enctype="multipart/form-data">
                        <input name="username" type="email" placeholder="Địa chỉ email" required>
                        <input name="password" id="np1" type="password" minlength="6" placeholder="Mật khẩu" required>
                        <input name="passrt" id="np2" type="password" minlength="6" placeholder="Nhập lại mật khẩu" required>
                        <input name="fullname" type="text" placeholder="Họ tên" required>
                        <input name="address" type="text" placeholder="Địa chỉ" required>
                        <input name="region" type="text" placeholder="Tỉnh/ Vùng/ Thành phố" required>
                        <input name="country" type="text" placeholder="Nước" required>
                        <input name="zipcode" type="number" placeholder="Zipcode" required>
                        <input name="phone" type="text" placeholder="Số điện thoại" required>
                        <input name="avatar" type="file">

                        <button type="reset" class="btn btn-default pull-left">Nhập lại</button>
                        <button type="submit" class="btn btn-default pull-right">Đăng ký</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->

<%- include partials/footer.ejs %>

</body>

<%- include partials/scripts.ejs %>
<script>
    var np1 = document.getElementById("np1"), np2 = document.getElementById("np2");

    function validateNewPassword() {
        if (np1.value != np2.value) {
            np2.setCustomValidity("Passwords Don't Match");
        } else {
            np2.setCustomValidity('');
        }
    }
    np1.onchange = validateNewPassword;
    np2.onkeyup = validateNewPassword;

</script>

</html>
