<!DOCTYPE html>
<html>
<head>

    <%- include partials/head.ejs %>

</head>
<body>

<%- include partials/header.ejs %>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">

                <h2 class="title text-center">Tìm kiếm</h2>
                <form action="/searcha" method="post">
                    <div class="row">
                        <div class="col-sm-10">
                            <input name="name" type="text" placeholder="Tìm kiếm" style="width: 100%; font-size: x-large; margin-top: 16px">
                        </div>
                        <div class="col-sm-2">
                            <input type="submit" value="Tìm" class="btn btn-primary" style="width: 100%; font-size: x-large">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px; margin-bottom: 20px">
                        <div class="col-sm-5">
                            <select class="form-control" name="category">
                                <option>Chính Trị</option>
                                <option>Đoàn - Đội - Hội</option>
                                <option>Kiến Thức - Khoa Học</option>
                                <option>Kinh Tế</option>
                                <option>Kỹ Năng</option>
                                <option>Lịch Sử</option>
                                <option>Mầm Non</option>
                                <option>Nghệ Thuật - Giải Trí</option>
                                <option>Nghệ Thuật Sống</option>
                                <option>Ngôn Ngữ</option>
                                <option>Sinh Ngữ</option>
                                <option>Tâm Lý - Giáo Dục</option>
                                <option>Tham Khảo Trong Nhà Trường</option>
                                <option>Truyện Tranh</option>
                                <option>Văn Hóa - Khảo Cứu</option>
                                <option>Văn Học</option>
                                <option>Y Học - Sức Khỏe</option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <input name="author" type="text" class="form-control" placeholder="Tác giả">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px; margin-bottom: 20px">
                        <div class="col-sm-5">
                            <input name="from" class="form-control" type="number" step="1" min="1990" max="2020" placeholder="Năm sản xuất từ">
                        </div>
                        <div class="col-sm-5">
                            <input name="to" class="form-control" type="number" step="1" min="1990" max="2020" placeholder="đến">
                        </div>
                    </div>
                </form>

                <br><br>

                <h2 class="title text-center">Kết quả tìm kiếm</h2>
                <% if(books.length <= 0) { %>
                <div class="row text-center">
                    <br>
                    <p>Không có kết quả tìm kiém</p>
                    <br>
                    <br>
                    <br>
                </div>
                <% } %>
                <div class="row" id="kqS">

                    <% books.forEach(function(book){ %>
                    <section>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <div style="height: 300px">
                                            <img src="/uploads/imgs/<%= book.avatar %>" alt=""/>
                                        </div>
                                        <h2><%= book.cost %> VND</h2>
                                        <p><%= book.name %></p>
                                        <p><%= book.author %></p>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2><%= book.cost %> VND</h2>
                                            <p><%= book.name %></p>
                                            <br>
                                            <p><%= book.author %></p>
                                            <br>
                                            <a href="#" name="addbook" id="<%= book._id %>" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        <li><a href="/book?id=<%= book._id %>"><i class="fa fa-plus-square"></i>Thông tin chi tiết</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <% }); %>

                </div>
            </div>
        </div>
    </div>
</section>

<%- include partials/footer.ejs %>

</body>

<%- include partials/scripts.ejs %>
<script src="/js/jquery.easyPaginate.js"></script>
<script>
    $(document).ready(function () {

        $("a[name='addbook']").click(function (event) {
            event.preventDefault();
            var pid = this.id;
            $.ajax({
                type: "POST",
                url: "/addbook",
                async: true,
                data : {
                    id: pid
                },
                success: function (data) {
                    if (data == "OK")
                        alert("Thêm thành công");
                }
            });
        });

        $("#kqS").easyPaginate({
            paginateElement: 'section',
            elementsPerPage: 6,
            effect: 'climb'
        });
    });
</script>

</html>