<!DOCTYPE html>
<html>
<head>

    <%- include partials/head.ejs %>

</head>
<body>

<%- include partials/header.ejs %>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Tùy chọn</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Tài khoản
                                    </a>
                                </h4>
                            </div>
                            <div id="sportswear" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="/user">Thông tin cá nhân </a></li>
                                        <li><a href="/userpass">Đổi mật khẩu </a></li>
                                        <li><a href="/logout">Đăng xuất </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Giao dịch
                                    </a>
                                </h4>
                            </div>
                            <div id="mens" class="panel-collapse in">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="/cart">Giỏ hàng</a></li>
                                        <li><a href="/checkout">Thanh toán</a></li>
                                        <li><a href="/bill">Danh sách hóa đơn</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/logout">Đăng xuất</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <h2 class="title text-center">Đơn hàng</h2>
                    <% if(!cthd) { %>
                    <div>
                        <table class="table table-condensed">
                            <thead>
                            <tr class="cart_menu">
                                <td class="description">ID</td>
                                <td>Ngày</td>
                                <td>Người nhận</td>
                                <td>Trạng thái</td>
                                <td>Tổng</td>
                            </tr>
                            </thead>
                            <tbody>
                            <% bills.forEach(function(bill){ %>
                            <tr>
                                <td>
                                    <a href="/bill?id=<%= bill._id %>"><%= bill._id %></a>
                                </td>
                                <td class="ext-center">
                                    <%= bill.date %>
                                </td>
                                <td class="text-center">
                                    <%= bill.fullname %>
                                </td>
                                <td class="text-center" style="color: red; font-weight: bold">
                                    <%= bill.status %>
                                </td>
                                <td class="text-center">
                                    <%= bill.total %> VND
                                </td>
                            </tr>
                            <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <% } else { %>

                    <div class="col-sm-4">
                        <div class="bill-to">
                            <p>Thông tin người nhận</p>
                            <div class="form-one">
                                <form action="/checkout" method="post">
                                    <input type="text" value="<%= bill.email %>" >
                                    <input type="text" value="<%= bill.fullname %>" >
                                    <input type="text" value="<%= bill.address %>" >
                                    <input type="text" value="<%= bill.phone %>" >
                                    <input type="text" value="<%= bill.region %>" >
                                    <input type="text" value="<%= bill.country %>" >
                                    <input type="number" value="<%= bill.zipcode %>" >
                                    <input type="text" style="border: 0.5px solid red" value="<%= bill.status %>" >
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="order-message">
                            <p>Chi tiết giỏ hàng</p>
                            <div>
                                <table class="table table-condensed">
                                    <thead>
                                    <tr class="cart_menu">
                                        <td>Tên sách</td>
                                        <td>Giá</td>
                                        <td>Số lượng</td>
                                        <td>Tổng</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% lstb.forEach(function(book){ %>
                                    <tr>
                                        <td>
                                            <h5><a href="/book?id=<%= book.id %>"><%= book.name %></a></h5>
                                            <h6><%= book.id %></h6>
                                        </td>
                                        <td class="ext-center">
                                            <%= book.cost %>
                                        </td>
                                        <td class="text-center">
                                            <%= book.quantity %>
                                        </td>
                                        <td class="text-center">
                                            <%= book.totalcost %>
                                        </td>
                                    </tr>
                                    <% }); %>
                                    <tr>
                                        <table class="table table-condensed total-result">
                                            <tr>
                                                <td>Tổng cộng</td>
                                                <td><span><%= bill.total %> VND</span></td>
                                            </tr>
                                            <tr class="shipping-cost">
                                                <td>Shipping Cost</td>
                                                <td><span>Miễn phí</span></td>
                                            </tr>
                                            <tr>
                                                <td>Thành tiền</td>
                                                <td><span><%= bill.total %> VND</span></td>
                                            </tr>
                                        </table>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include partials/footer.ejs %>

</body>

<%- include partials/scripts.ejs %>

<script>
    $(document).ready(function () {
    });
</script>

</html>
