<!DOCTYPE html>
<html>
<head>

    <%- include partials/head.ejs %>

</head>
<body>

<%- include partials/header.ejs %>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Tùy chọn</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Tài khoản
                                    </a>
                                </h4>
                            </div>
                            <div id="sportswear" class="panel-collapse in">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="/user">Thông tin cá nhân </a></li>
                                        <li><a href="/userpass">Đổi mật khẩu </a></li>
                                        <li><a href="/logout">Đăng xuất </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Giao dịch
                                    </a>
                                </h4>
                            </div>
                            <div id="mens" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="/cart">Giỏ hàng</a></li>
                                        <li><a href="/checkout">Thanh toán</a></li>
                                        <li><a href="/bill">Danh sách hóa đơn</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/logout">Đăng xuất</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <h2 class="title text-center">Cài đặt</h2>
                    <p><%= loi %></p>
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="replay-box">
                            <div class="row">
                                <h2>Đỗi mật khẩu</h2>
                                <form id="frmPass" action="/userpass" method="post">
                                    <div class="blank-arrow">
                                        <label>Mật khẩu cũ:</label>
                                    </div>
                                    <span>*</span>
                                    <input name="oldpassword" type="password" placeholder="Nhập mật khẩu cữ của bạn..." required>

                                    <div class="blank-arrow">
                                        <label>Mật khẩu mới:</label>
                                    </div>
                                    <span>*</span>
                                    <input id="np1" name="newpassword" type="password" minlength="6" placeholder="Nhập mật khẩu mới" required >

                                    <div class="blank-arrow">
                                        <label>Nhập lại mật khẩu mới:</label>
                                    </div>
                                    <span>*</span>
                                    <input id="np2" name="passrt" type="password" minlength="6" placeholder="Nhập lại mật khẩu mới" required>

                                    <input type="submit" class="btn btn-primary" value="Đổi mật khẩu" style="color: white">
                                </form>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include partials/footer.ejs %>

</body>

<%- include partials/scripts.ejs %>

<script>
    var np1 = document.getElementById("np1"), np2 = document.getElementById("np2");

    function validateNewPassword() {
        if (np1.value != np2.value) {
            np2.setCustomValidity("Passwords Don't Match");
        } else {
            np2.setCustomValidity('');
        }
    }
    np1.onchange = validateNewPassword;
    np2.onkeyup = validateNewPassword;
</script>

</html>
