<!DOCTYPE html>
<html>
<head>

    <%- include partials/head.ejs %>

</head>
<body>

<%- include partials/header.ejs %>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Tùy chọn</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Tài khoản
                                    </a>
                                </h4>
                            </div>
                            <div id="sportswear" class="panel-collapse in">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="/user">Thông tin cá nhân </a></li>
                                        <li><a href="/userpass">Đổi mật khẩu </a></li>
                                        <li><a href="/logout">Đăng xuất </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Giao dịch
                                    </a>
                                </h4>
                            </div>
                            <div id="mens" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="/cart">Giỏ hàng</a></li>
                                        <li><a href="/checkout">Thanh toán</a></li>
                                        <li><a href="/bill">Danh sách hóa đơn</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/logout">Đăng xuất</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <h2 class="title text-center">Cài đặt</h2>
                    <div class="col-sm-8">
                        <div class="replay-box">
                            <div class="row">
                                <h2>Thông tin cá nhân</h2>
                                <form id="frmInfo" action="/user" method="post" enctype="multipart/form-data">
                                    <div class="blank-arrow">
                                        <label>Email:</label>
                                    </div>
                                    <span>*</span>
                                    <input name="username" type="email" placeholder="Địa chỉ email của bạn..." required readonly value="<%= user.username %>">

                                    <div class="blank-arrow">
                                        <label>Họ và tên:</label>
                                    </div>
                                    <span>*</span>
                                    <input name="fullname" type="text" placeholder="Họ tên của bạn..." required readonly value="<%= user.fullname %>">

                                    <div class="blank-arrow">
                                        <label>Địa chỉ:</label>
                                    </div>
                                    <span>*</span>
                                    <input name="address" type="text" placeholder="Địa chỉ của bạn..." required readonly value="<%= user.address %>">

                                    <div class="blank-arrow">
                                        <label>Số điện thoại:</label>
                                    </div>
                                    <span>*</span>
                                    <input name="phone" type="text" placeholder="Số điện thoại của bạn..." required readonly value="<%= user.phone %>">

                                    <div class="blank-arrow">
                                        <label>Tỉnh/ Thành phố:</label>
                                    </div>
                                    <span>*</span>
                                    <input name="region" type="text" required readonly value="<%= user.region %>">

                                    <div class="blank-arrow">
                                        <label>Nước:</label>
                                    </div>
                                    <span>*</span>
                                    <input name="country" type="tezt" required readonly value="<%= user.country %>">

                                    <div class="blank-arrow">
                                        <label>Zipcode:</label>
                                    </div>
                                    <span>*</span>
                                    <input name="zipcode" type="text" required readonly value="<%= user.zipcode %>">

                                    <div class="blank-arrow">
                                        <label>Ảnh đại diện:</label>
                                    </div>
                                    <span>*</span>
                                    <input name="avatar" type="file" accept="image/*">

                                    <input type="submit" class="btn btn-primary" value="Lưu thông tin" style="color: white">
                                </form>
                                <button href="#" id="btnEdit" class="btn btn-primary" style="width: 100%" onclick="btnEditcall()">Chỉnh sửa thông tin</button>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4">
                        <img src="/uploads/avatar/<%= user.avatar %>" alt="avatar" style="width: 100%; border: 0.5px solid black">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include partials/footer.ejs %>

</body>

<%- include partials/scripts.ejs %>

<script>
    $(document).ready(function () {
        $("#frmInfo input[type='submit']").hide();
        $("#frmInfo input[type='file']").hide();
    });
    function btnEditcall() {
        $("#btnEdit").hide()
        $("#frmInfo input[type='submit']").show();
        $("#frmInfo input[type='file']").show();
        $("#frmInfo input[name='fullname']").prop("readonly",false);
        $("#frmInfo input[name='address']").prop("readonly",false);
        $("#frmInfo input[name='phone']").prop("readonly",false);
        $("#frmInfo input[name='region']").prop("readonly",false);
        $("#frmInfo input[name='country']").prop("readonly",false);
        $("#frmInfo input[name='zipcode']").prop("readonly",false);
    }
</script>

</html>
